*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 62.5%; /* 10px */

  --bg-colour: #0055ee;
  background: linear-gradient(rgba(200, 200, 200, 0.1) 25%, rgba(0, 0, 0, 0.3)),
    var(--bg-colour);
  transition: background 0.5s ease;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

body {
  min-width: 320px;
}

::selection {
  color: var(--bg-colour);
  background-color: white;
}
